h1 {
  text-align: center;
  font-size: 4rem;
  padding: 3vh;
}

.book-container {
  width: auto;
  height: auto;
  margin: 2vh 4vw 8vh;
  display: flex;
  background-color: #f3ebe7;
  text-align: center;
  box-shadow: 0 0.5vw 2vh 0 rgb(0 0 0 / 20%);
}

.book-image {
  height: 700px;
  width: auto;
  float: left;
}

.book-container-text {
  padding: 60px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.book-title {
  font-size: 1.5rem;
}

.book-authors {
  font-size: 1.1rem;
  margin-top: 15px;
  padding-bottom: 2vh;
}

.book-descr {
  text-align: justify;
  font-size: 1.1rem;
  color: rgb(114, 83, 68);
}

.rating {
  float: right;
}

.add {
  padding: 1rem;
  width: 100%;
  background: #ba6d58;
  color: white;
  border-radius: 2rem;
  border: none;
  transition: 0.3s ease-in-out;
}

.add:hover {
  cursor: pointer;
  background-color: #8d4d3f;
}

@media screen and (max-width: 1600px) {
  .book-container {
    height: 80vh;
  }

  .book-image {
    block-size: 80vh;
  }

  .book-container-text {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 600px) {
  .book-image {
    display: none;
  }
}

/*(Chrome, Safari, Opera... )*/

.book-container-text::-webkit-scrollbar {
  -webkit-appearance: none;
}

.book-container-text::-webkit-scrollbar:vertical {
  width:0.4vw;
  background-color: #ebb8aa;
}

.book-container-text::-webkit-scrollbar-thumb {
  background-color: #ba6d58;
  border-radius: 1vh;
  height: 10vh;
}